#app {
    position: fixed;
    width: 1190px;
    height: 562px;
    top: 0;
    left: 0;
    background: red;
}

.towerArea {
    height: 90px;
}
.towerSlot, .tower {
    float: left;
    width: 30px;
    height: 30px;
    background: purple;
}
.tower {
    background-color: chocolate;
}
div.towerSlot:hover {
    background: yellow;
}
    .towerSlot.i {
        background: mediumpurple;
    }
#panel {
    float: left;
    width: 200px;
    height: 562px;
    background: green;
}
#arena {
    width: 1190px;
    height: 382px;
    background: blue;
}