#app {
    position: fixed;
    height: 562px;
    top: 0;
    left: 0;
    background: red;
    font-family: Arial;
}

.towerArea {
    height: 120px;
}
.towerSlot, .tower {
    float: left;
    width: 40px;
    height: 40px;
    background: purple;
}
.tower {
    background-color: chocolate;
}
div.towerSlot:hover {
    background: yellow;
}
    .towerSlot.i {
        background: mediumpurple;
    }
#panel {
    float: left;
    width: 200px;
    height: 562px;
    background: green;
}
#rightPanel {
    float: left;
    width: 1000px;
}
#arena {
    position: relative;
    height: 322px;
    background: lightblue;
    overflow: visible;
}
#level {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
#life {
    background: pink;
    padding-left: 8px;
}
.heart {
    display: inline-block;
    margin: 2px;
    transform: rotate(-90deg);
    letter-spacing: -2px;
    color: deeppink;
    font-weight: bold;
}
#wallet {
    background: gold;
    font-weight: bold;
    text-align: right;
    padding: 5px 16px;
}
.enemy {
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
}
.dialog {
    position: fixed;
    border: 1px solid #333;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    opacity: 0.9;
}
.bullet {
    position: absolute;
    width: 4px;
    height: 4px;
    background: orangered;
    z-index: 10;
    border-radius: 4px;
}